.heroctn-02 {

    box-shadow: 0px 0px 3px 0px grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 6rem;
    border-radius: 1rem;

}

.heroctn-03 {
    margin-top: 0;
}
                    /* for Mobile  */

@media only screen and (max-width:450px) {
    .heroctn-02 {
        flex-wrap: wrap-reverse;
        margin-top: 16rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    .Lctn{
        margin:1rem;
    }

    .heroctn-03 {
        margin: 1rem 1.5rem;
    }
}